body {
  background: #242323;
}
.content {
  border: 5px;
  color: #ffd000;
}
.contentParent {
  border-style: double dotted double double;
  width: 50%;
}
.contentChild {
  text-align: left;
  display: inline-block;
  padding: 5px;
}
a {
  color: #ffd000;
  font-size: 23px;
}
input {
  background-color: #242323;
  border-radius: 50px;
  color: #ffd000;
  border-color: #ffd000;
  outline: none;
  padding: 5px;
}
.tags {
  padding: 5px;
}
.splash {
  height: 100vh;
}
.star {
  text-align: center;
}
.wars {
  text-align: center;
  margin: -40px;
}
.wiki {
  text-align: center;
}
.header {
  font-size: 250px;
}
